form {
    flex: 1; /*Ambas as caixas ocupam espaço igual*/
    margin: 0 10px; /*Margem lateral entre as caixas*/
    padding: 20px; /*Espaçamento entre o conteudo e borda*/
    border: 1px solid #ccc; /*Bordas para as caixas*/
    text-align: center; /*Alinha o texto no centro*/
}


input, select, button { /*Formatação dos campos de entrada*/
    border-radius: 1.4em; /*Bordas arredondadas*/
    padding: 5px; /*Espaçamento entre o conteudo e borda*/
    margin: 1px; /*Espaçamento externo do elemento*/
    height: 6%; /*Altura*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    font-size: 100%; /*Tamanho da fonte*/
    max-width: 400px; /*Largura máxima*/
}


.botao1 { /*Posição dos botões*/
    margin-right: 1%; /*Move o button 85% para a esquerda*/
    text-align: center; /*Alinha o texto no centro*/
}


.botao2 { /*Posição dos botões*/
    margin-left: 1%; /*Move o button 85% para a esquerda*/
    text-align: center; /*Alinha o texto no centro*/
}

  
input:hover, button:hover, select:hover { /*Ativa borda e sombra ao passar o mouse*/
    border: 1px solid blue; /*Bordas para as caixas*/
    box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}
