body {
    height: 100vh;
}


/* .fundo {
    background-color: grey;
    font-size: 16px;
    text-align: center;
} */


.space {
    margin: 100px
}


img {
    margin: 10px;
    width: 300px;
    border-radius: 100%;
}
