.menu2 { /*Menu no topo da página*/
    margin: 0px; /*Espaço entre caixa e marguem da página*/
    padding: 14px; /*Espaçamento entre o conteudo e borda*/
    background-color: #877b46; /*Cor da caixa*/
    text-indent: 40px; /*Recuo da linha*/
    text-align: center; /*Alinha o texto no centro*/
}

  
a { /*Os links no menu*/
    font-size: 125%; /*Tamanho da fonte*/
    font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
    color: white; /*Cor do texto*/
    padding: 14px 14px; /*Espaçamento entre o conteudo e borda*/
    text-decoration: none; /*Remove o sublinhado de links*/
}

  
a:hover:not(#menu) { /*Ativa quando passa o mouse por cima dos links no menu*/
    background-color: #2c612f; /*Cor da caixa*/
}

  
#menu { /*Os links no menu*/
    background-color: #04AA6D; /*Cor da caixa*/
}


.footer-container {
    display: flex; /*Permite organizar elementos em um container de forma flexível*/
    justify-content: space-between; /*Alinha os elementos horizontalmente*/
    width: 70%; /*Largura*/
    margin-left: 250px; /*Move as caixas 250px para a esquerda*/
}
  

.integrantes {
    margin: 0 20px; /*Espaçamento externo do elemento*/
}

  
.lista {
    list-style-type: none; /*Remove o marcador da lista*/
    padding: 0; /*Espaçamento entre o conteúdo e a borda*/
}  


.nome {
    margin: 5px 0; /*Espaçamento externo do elemento*/
}
